 .gridContainer {
    display: flex;
    justify-content: center;  
    align-items: center;  
    padding: 20px;
    margin-top: 20px;
 }
  
.contactCardWrapper {
    max-width: 500px; 
    width: 100%;  
}
  
.card {
    width: 100%;  
}
.backButton {
    background-color: #f0f0f0;
    margin: 1rem;
    font-weight: normal;
    border-radius: 5px;
    padding: 1em 2em ;
    border: none;
    color: #333;
    display: inline-block;
}
.backButton:hover {
    background-color: #5fb650;
 }
  